:root {
    --toggle-size: 30px;
    --toggle-duration: .05s;
}

.switch {
    display: inline-block;
    position: relative;
    width: calc(var(--toggle-size) * 2);
    height: var(--toggle-size);
    vertical-align: middle;
    margin: 10px;
    transform: scale(0.7);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 88, 88);
    -webkit-transition: var(--toggle-duration);
    transition: var(--toggle-duration);
    /* border-radius: calc(var(--toggle-size) * 0.5); */
    vertical-align: middle;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    width: calc(var(--toggle-size) * 1.2);
    height: calc(var(--toggle-size) * 1.5);
    left: calc(var(--toggle-size) * -0.1); /* equals width (scale - 1) / 2 */
    bottom: calc(var(--toggle-size) * -0.25); /* equals height (scale - 1) / 2 */
    background-color: white;
    border: 1px solid black;
    -webkit-transition: var(--toggle-duration);
    transition: var(--toggle-duration);
    /* border-radius: calc(var(--toggle-size) * 0.5); */
  }

  .slider.green {
    background-color: #21f333;
  }
  
  input:checked + .slider {
    background-color: #21f333;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #21f333;
  }

  input:disabled + .slider {
    background-color: gray;
  }

  
  input:checked + .slider:before {
    -webkit-transform: translateX(var(--toggle-size));
    -ms-transform: translateX(var(--toggle-size));
    transform: translateX(var(--toggle-size));
  }
  