@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Yantramanav:wght@100&display=swap');

body {
  text-align: center;
  align-items: center;
  background-color: #ddf0ed;
}

h1 {
  font-family: 'Righteous', cursive;
  font-size: 50px;
}

.container {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  width: 600px;
  height: 80vh;
  margin-top: 50px;
  border: 1px solid rgb(31, 24, 24);
  border-radius: 30px;
  box-shadow: 1em 1em rgb(168, 168, 168);
  background-color: #f5fcfb;
  font-size: 30px;
}

.scroll {
  margin-right: 30px;
  margin-left: 30px;
  height: 70%;
  overflow-y: auto;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.footer {
  width: 100%;
}